openapi: 3.0.3
info:
  title: Omniful Integration APIs Background Jobs Tenant APIs API
  version: v1
  description: Omniful unified supply chain and fulfillment platform integration APIs (Order Management, Warehouse/Inventory, Returns, Purchase Orders, Shipment/TMS, Webhooks). Derived faithfully from the provider-published Postman collection at docs.omniful.tech; paths, methods, parameters, and request examples are as published, response schemas are not enumerated in the source.
  contact:
    url: https://docs.omniful.tech
servers:
- url: https://prodapi.omniful.com
security:
- bearerAuth: []
tags:
- name: Tenant APIs
paths:
  /sales-channel/public/v1/tenants/token:
    post:
      summary: Retrieve Access Token
      operationId: postRetrieveAccessToken2
      tags:
      - Tenant APIs
      description: 'This API allows you to obtain a new access token and refresh token using a refresh token grant type. Access tokens are short-lived tokens that grant access to specific resources or actions within an API, while refresh tokens are used to request new access tokens without requiring the user to re-authenticate. Upon sending this request to the Omniful API, you will receive a response containing the new access token and refresh token, which you can then use to access protected resources and perform '
      requestBody:
        content:
          application/json:
            example:
              refresh_token: '{{refresh_token}}'
              grant_type: refresh_token
              client_id: '{{client_id}}'
              client_secret: '{{client_secret}}'
      responses:
        '200':
          description: Successful response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
