openapi: 3.0.3
info:
  title: Omniful Integration APIs Background Jobs Pickup Locations API
  version: v1
  description: Omniful unified supply chain and fulfillment platform integration APIs (Order Management, Warehouse/Inventory, Returns, Purchase Orders, Shipment/TMS, Webhooks). Derived faithfully from the provider-published Postman collection at docs.omniful.tech; paths, methods, parameters, and request examples are as published, response schemas are not enumerated in the source.
  contact:
    url: https://docs.omniful.tech
servers:
- url: https://prodapi.omniful.com
security:
- bearerAuth: []
tags:
- name: Pickup Locations
paths:
  /sales-channel/public/v1/seller/pickup_locations:
    post:
      summary: Upsert Pickup Locations
      operationId: postUpsertPickupLocations
      tags:
      - Pickup Locations
      requestBody:
        content:
          application/json:
            example:
              name: Axis Logsitcs
              email: warehouse@example.com
              phone_number:
                number: '1234567890'
                country_calling_code: '+91'
                country_code: IN
              external_hub_identifier: '2128915624'
              address:
                address_1: Flat 803, Marina Pinnacle Tower
                address_2: ''
                postal_code: '00000'
                city_name: Dubai
                country_name: United Arab Emirates
                state_name: Dubai
                country_code: UAE
                state_code: DU
                latitude: 25.0865
                longitude: 55.1483
                national_address_code: '00000'
              virtual_hub_type: virtual
      responses:
        '200':
          description: Successful response
    get:
      summary: Get Pickup Locations
      operationId: getGetPickupLocations
      tags:
      - Pickup Locations
      responses:
        '200':
          description: Successful response
  /sales-channel/public/v1/seller/pickup_locations/{pickup_location_code}:
    get:
      summary: Get Pickup Location By Code
      operationId: getGetPickupLocationByCode
      tags:
      - Pickup Locations
      parameters:
      - name: pickup_location_code
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
  /sales-channel/public/v1/tenants/sellers/{seller_code}/pickup_locations:
    post:
      summary: Upsert Pickup Locations
      operationId: postUpsertPickupLocations2
      tags:
      - Pickup Locations
      description: Create Pickup Location API Description Creates a new pickup (hub) location for a seller. A pickup location can be physical or virtual and is used for fulfilling orders and assigning shipments. 📋 Field Descriptions Top-Level Fields Field Type Required Description name string ✅ Name of the pickup location (e.g., “Main Warehouse”). email string ✅ Contact email for the pickup location. phone_number object ✅ Contact phone details (number, code, country). external_hub_identifier string ✅ External syst
      parameters:
      - name: seller_code
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              name: Main Warehouse
              email: warehouse@example.com
              phone_number:
                number: '1234567890'
                country_calling_code: '+91'
                country_code: IN
              external_hub_identifier: HUB123456
              address:
                address_1: 123 Street Name
                address_2: Suite 400
                postal_code: '560001'
                city_name: Riyadh
                country_name: Saudi Arabia
                state_name: Riyadh
                country_code: SA
                state_code: '01'
                latitude: 24.8506269
                longitude: 46.8180723
                national_address_code: ''
              virtual_hub_type: virtual
      responses:
        '200':
          description: Successful response
    get:
      summary: Get Pickup Locations
      operationId: getGetPickupLocations2
      tags:
      - Pickup Locations
      description: Description Retrieves all pickup locations configured for a specific seller under a tenant. Useful for fetching active hubs/warehouses and their details.
      parameters:
      - name: seller_code
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
  /sales-channel/public/v1/tenants/sellers/{seller_code}/pickup_locations/{pickup_location_code}:
    get:
      summary: Get Pickup Location By Code
      operationId: getGetPickupLocationByCode2
      tags:
      - Pickup Locations
      description: Description Fetches details of a specific pickup location (hub) for a given seller, using the hub’s external_hub_identifier. 🔗 Path Parameters Parameter Type Required Description seller_code string ✅ Unique seller code (e.g., 0099). external_hub_identifier string ✅ External identifier of the hub/pickup location (e.g., HUB123456).
      parameters:
      - name: seller_code
        in: path
        required: true
        schema:
          type: string
      - name: pickup_location_code
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
