openapi: 3.0.3
info:
  title: Omniful Integration APIs Background Jobs Cycle Count API
  version: v1
  description: Omniful unified supply chain and fulfillment platform integration APIs (Order Management, Warehouse/Inventory, Returns, Purchase Orders, Shipment/TMS, Webhooks). Derived faithfully from the provider-published Postman collection at docs.omniful.tech; paths, methods, parameters, and request examples are as published, response schemas are not enumerated in the source.
  contact:
    url: https://docs.omniful.tech
servers:
- url: https://prodapi.omniful.com
security:
- bearerAuth: []
tags:
- name: Cycle Count
paths:
  /sales-channel/public/v1/hubs/{hub_code}/cycle_counts:
    get:
      summary: Get Cycle Counts
      operationId: getGetCycleCounts
      tags:
      - Cycle Count
      parameters:
      - name: hub_code
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
  /sales-channel/public/v1/hubs/{hub_code}/cycle_counts/{cycle_count_id}/skus:
    get:
      summary: Get Cycle Counts SKUs
      operationId: getGetCycleCountsSkus
      tags:
      - Cycle Count
      parameters:
      - name: hub_code
        in: path
        required: true
        schema:
          type: string
      - name: cycle_count_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
