openapi: 3.0.3
info:
  title: Omniful Integration APIs Background Jobs Stock Transfer Order API
  version: v1
  description: Omniful unified supply chain and fulfillment platform integration APIs (Order Management, Warehouse/Inventory, Returns, Purchase Orders, Shipment/TMS, Webhooks). Derived faithfully from the provider-published Postman collection at docs.omniful.tech; paths, methods, parameters, and request examples are as published, response schemas are not enumerated in the source.
  contact:
    url: https://docs.omniful.tech
servers:
- url: https://prodapi.omniful.com
security:
- bearerAuth: []
tags:
- name: Stock Transfer Order
paths:
  /sales-channel/public/v1/orders/sto/{sto_id}:
    get:
      summary: GetStockOrder
      operationId: getGetstockorder
      tags:
      - Stock Transfer Order
      description: STO Order Details Response Payload Root Level Fields Field Name Type Description is_success Boolean Indicates whether the API request was successful status_code Integer HTTP status code returned by the API data Object Contains stock transfer order details meta Object Null data Object Field Name Type Description seller_name String Name of the seller sto_number String Unique Stock Transfer Order number status String Current status of the STO (e.g., Received) total_amount Number Total monetary valu
      parameters:
      - name: sto_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
  /sales-channel/public/v1/orders/sto/hubs/{hub_code}:
    get:
      summary: GetStockOrders
      operationId: getGetstockorders
      tags:
      - Stock Transfer Order
      description: 'Get Stock Transfer Orders API Documentation Overview This API endpoint retrieves detailed information about stock transfer orders and requires a valid destination hub code—the hub specified in the stock transfer request where receiving will occur—which must be powered through the Omniful system. You can also use filters to narrow down the results. The available filters are: sto_request_id: Filter by a single stock transfer request ID. sto_request_ids: Filter by multiple stock transfer request ID'
      parameters:
      - name: hub_code
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
